
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active,
.btn-primary,
.btn-xl {
    background-color: #3BA1F5;
    border-color: #3BA1F5;
    color: white;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-xl:hover {
    background-color: #073255;
    border-color: #073255;
}
.timeline>li .timeline-image {
    background-color: #3BA1F5;
    border-color: #3BA1F5;
}
.timeline>li .timeline-image h4 {
    margin-top: 2em;
}
.timeline>li .timeline-image h4 a {
    color: #def7f8;
}
.timeline>li .timeline-image:hover {
    background-color: #073255;
    border-color: #073255;
}
.text-primary,
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus,
a:hover {
    color: #3BA1F5;
    text-decoration: none;
}
a {
    color: #073255;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #3BA1F5;
    border-color: #3BA1F5;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(59,161,245,.9);
}

