section#donate .left-column {
    width: 40%;
    margin: 0 4em;
    float: left;
}
section#donate .right-column {
    float: left;
}
section#donate .right-column a img {
    max-height: 80px;
}
section#donate .row {
    padding: 1em 0;
    width: 90%;
    margin: 0 0.5em;
}
