section#download .left-column {
    width: 50%;
    margin: 0 4em;
    float: left;
}
section#download .row {
    padding: 1em 0;
}
section#download .row.instructions {
    width: 90%;
    margin: 0 0.5em;
}
