@font-face {
        /* Generated w/ https://github.com/neverpanic/google-font-download */
	font-family: 'Philosopher';
	font-style: normal;
	font-weight: normal;
	src:
		local('Philosopher Regular'),
		local('Philosopher-Regular'),
		/* from https://fonts.gstatic.com/s/philosopher/v9/OttjxgcoEsufOGSINYBGLWfQcKutQXcIrRfyR5jdjY8.eot */
		url('../fonts/Philosopher.eot?#iefix') format('embedded-opentype'),
		/* from https://fonts.gstatic.com/s/philosopher/v9/OttjxgcoEsufOGSINYBGLYbN6UDyHWBl620a-IRfuBk.woff */
		url('../fonts/Philosopher.woff') format('woff'),
		/* from https://fonts.gstatic.com/s/philosopher/v9/OttjxgcoEsufOGSINYBGLY4P5ICox8Kq3LLUNMylGO4.woff2 */
		url('../fonts/Philosopher.woff2') format('woff2'),
		/* from https://fonts.gstatic.com/l/font?kit=OttjxgcoEsufOGSINYBGLXNsigHlcrQGNV8nkUSFQfc&skey=da0a2147adba7eff&v=v9#Philosopher */
		url('../fonts/Philosopher.svg#Philosopher') format('svg'),
		/* from https://fonts.gstatic.com/s/philosopher/v9/OttjxgcoEsufOGSINYBGLZ0EAVxt0G0biEntp43Qt6E.ttf */
		url('../fonts/Philosopher.ttf') format('truetype');
}
