header {
    position: relative;
}
header .intro-text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: #def7f8;
    margin: auto;
    width: max-content;
    padding: 2em;
    background-color: rgba(0,0,0,0.7);
    border-radius: 1em;
}
header .intro-text .intro-lead-in {
    color: transparent;
    background-image: url('../img/aegir_logo_pale.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 350px 80px;
    height: 80px;
    width: 100%;
}
header .intro-text .intro-heading {
    text-transform: none;
    font-family: Philosopher;
}
@media(min-width:768px) {
    header .intro-text .intro-heading {
        font-size: 5em;
    }
    header .intro-text .intro-lead-in {
        background-size: 438px 100px;
        height: 100px;
    }
}
@media(min-width:1080px) {
    header .intro-text .intro-heading {
        font-size: 7em;
    }
}

.container {
    width: 100%;
    margin: 0 1em 0 1em;
}
section {
    padding: 100px 0 !important;
    color: #073255;
}

header {
    background-position-y: 50%;
}

header,
section container {
    height: 100vh;
}
