#site-logo {
    background-image: none;
    margin-left: -15px;
    margin-top: -15px;
}

.section #site-logo,
.policy #site-logo,
.blog #site-logo,
.navbar-shrink #site-logo {
    background-image: url('../img/aegir_logo_pale.svg');
    background-size: 219px 50px;
    height: 50px;
    width: 219px;
}
