.navbar-right {
    margin-right: 0;
}

@media(min-width:768px) {
    .navbar-default.navbar-shrink,
    .section .navbar,
    .policy .navbar,
    .blog .navbar {
        background-color: #073255;
        background-image: url('../img/aegir_header_background.png');
        background-position: right center;
        background-repeat: no-repeat;
    }
}

.navbar.navbar-default {
    padding: 10px 0;
}

i.fa-external-link {
    font-size: 50%;
    vertical-align: top;
}
