
.policy footer,
.nav>li>a:hover,
.navbar-pages {
    background-color: #222;
}

.page-title {
    padding: 1.75em 0 0.25em 1em;
    background-color: #fff;
    z-index: 2;
}

.policy,
.policy p {
  line-height: 1.25;
}

.articles-list {
    padding-top: 12em;
    padding-bottom: 5em;
}

article {
    padding-left: 2em;
}

.policy .values,
.policy .description,
.policy table {
  width: 90%;
  margin-top: 2em;
}

.policy table thead {
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
}

.policy table td.header {
  padding-bottom: 1em;
}

.policy table td.legal {
  width: 60%;
  padding-right: 2em;
}

.policy table td.basic.clause {
  font-size: larger;
}

.policy table td {
  vertical-align: top;
}

.policy .values {
  font-weight: bold;
  font-size: x-large;
}

.policy .description {
  font-size: larger;
}

section.blog span.icon,
article span.icon {
  padding-left: 1em;
}

section.blog .blog-post hr,
article hr {
  border-top: 1px solid #073255;
}

section.blog .blog-post {
  margin-right: 4em;
}

section.blog .blog-post,
section.blog .blog-post p {
  font-size: 110%;
  color: #777;
}

section.blog h1,
section.blog h2 {
  color: #073255;
}

section.blog .blog-post blockquote {
  border-left: 1px solid lightGrey;
}

section.blog .blog-post blockquote h3 {
  margin-top: 0;
}

aside.sponsors img {
    margin-top: 50px;
}

