<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index blog">
    {{ partial "nav.html" . }}
    <h1 id="section-title" class="page-title navbar-fixed-top">{{ .Type }}</h1>

    <div class="container" itemscope itemtype="http://schema.org/BlogPosting">
        <section class="section blog">
            <div class="container">
                <div class="columns is-mobile">
                    <div class="column">
                        <div class="content blog-post section" itemprop="articleBody">
                            <hr />
                            <h1>{{.Title}}</h1>
                            <p>{{ partial "post/meta" . }}</p>
                            <hr />
                            {{.Content}}
                        </div>
                        <div class="title is-4">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}

  </body>
</html>

