<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

  {{ partial "head.html" . }}

  <body id="page-top" class="index section">
    {{ partial "nav.html" . }}

    <h1 id="page-title" class="page-title navbar-fixed-top">{{ .Title }}</h1>
    {{ $paginator := .Paginate .Data.Pages.ByPublishDate.Reverse }}
    <div class="articles-list">
        {{ range $paginator.Pages }}
        <article>
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            <p>{{ partial "post/meta" . }}</p>
            {{ .Summary }}
            <br />
            <br />
            <a href="{{ .RelPermalink }}" itemprop="url">
                <button type="button" class="btn btn-primary">Read More… </button>
            </a>
            <hr />
        </article>
        {{ end }}
    </div>

    {{ if .Site.Params.footer.enable }}
      {{ partial "footer.html" . }}
    {{ end }}

  </body>
</html>
