{{ "<!-- About Section -->" | safeHTML }}
<section id="about" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.about.title }}{{ . | markdownify }}{{ end }}</h2>
        <h3 class="section-subheading text-mutedwith ">{{ with .Site.Params.about.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="large text-muted">{{ with .Site.Params.about.description }}{{ . | markdownify }}{{ end }}</div>
    </div>
 
  </div>
</section>
