{{ "<!-- Support Section -->" | safeHTML }}
<section id="donate" class="bg-light-gray">
  <div class="container">
    <div class="row section-heading">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.donate.title }}{{ . | markdownify }}{{ end }}</h2>
        <h3 class="section-subheading text-mutedwith ">{{ with .Site.Params.donate.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    <div class="left-column">
      <div class="row description">
        <div class="large text-muted">{{ .Site.Params.donate.description | markdownify }}</div>
      </div>
    </div>
    <div class="right-column">
      {{ range .Site.Params.donate.methods }}
      <div class="row method">
        <a href="{{ .link }}"><img src="{{ .image }}" alt="{{ .alt_text }}" /></a> {{ .caption | markdownify }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
