{{ "<!-- Download Section -->" | safeHTML }}
<section id="download">
  <div class="container">
    <div class="row section-heading">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.download.title }}{{ . | markdownify }}{{ end }}</h2>
        <h3 class="section-subheading text-mutedwith ">{{ with .Site.Params.download.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    <div class="left-column">
      <div class="row description">
        <div class="large text-muted">{{ with .Site.Params.download.description }}{{ . | markdownify }}{{ end }}</div>
      </div>
      <div class="row instructions">
        <pre class="large text-muted">{{ .Site.Params.download.instructions }}</pre>
      </div>
      <div class="row follow_up">
        <div class="large text-muted">{{ with .Site.Params.download.follow_up }}{{ . | markdownify }}{{ end }}</div>
      </div>
    </div>
    <div class="right-column">
        <img src="{{ .Site.Params.download.image }}" />
    </div>
 
  </div>
</section>
