{{ "<!-- Sponsors Aside -->" | safeHTML }}
<aside id="sponsors" class="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
<h4 class="heading">{{ with .Site.Params.sponsors_list.title }}{{ . | markdownify }}{{ end }}</h4>
      </div>
    </div>
    <div class="row flexbox{{ if .Site.Params.sponsors_list.center }} flexbox-center{{ end }}">

      {{ range .Site.Params.sponsors }}
        <div class="col-md-3 col-sm-6 col">
          {{ $url := printf "img/logos/%s" .logo }}
          {{ if .link }}
            <a href="{{ .link }}">
              <img src="{{ $url | absURL }}" class="img-responsive img-centered" alt="">
            </a>
          {{ else }}
            <img src="{{ $url | absURL }}" class="img-responsive img-centered" alt="">
          {{ end }}
        </div>
      {{ end }}

    </div>
  </div>
</aside>
