{{ "<!-- Support Section -->" | safeHTML }}
<section id="support" class="bg-light-gray">
  <div class="container">
    <div class="row section-heading">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{{ with .Site.Params.support.title }}{{ . | markdownify }}{{ end }}</h2>
        <h3 class="section-subheading text-mutedwith ">{{ with .Site.Params.support.subtitle }}{{ . | markdownify }}{{ end }}</h3>
      </div>
    </div>
    <div class="flexbox-center col-lg-12 text-center">
      <div class="row description">
        <div class="large text-muted">{{ .Site.Params.support.description | markdownify }}</div>
      </div>
    </div>
  </div>
</section>
